/* Estilos para a seção de Formação */
#formacao {
    background: #212121;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formacao-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formacao-item {
    background: #181818;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formacao-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.formacao-item p {
    margin: 0.5rem 0;
}

/* Estilos para a seção de Cursos */
#cursos {
    background: #212121;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cursos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.curso-item {
    background: #181818;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.curso-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.curso-item p {
    margin: 0.5rem 0;
}

/* Estilos para a seção de Competências */
#competencias {
    background: #212121;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.competencias-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.soft-skills, .hard-skills {
    background: #181818;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.soft-skills h3, .hard-skills h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.soft-skills ul, .hard-skills ul {
    list-style-type: none;
    padding: 0;
}

.soft-skills li, .hard-skills li {
    margin: 0.5rem 0;
}

/* Ajustes para mobile */
@media (max-width: 768px) {
    .formacao-item, .curso-item, .soft-skills, .hard-skills {
        width: 100%;
    }
}
